/*========== GOOGLE FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*========== VARIABLES CSS ==========*/
:root {
    --header-height: 3.5rem;
    --nav-width: 219px;

    /*========== Colors ==========*/
    --first-color: #feab21;
    --first-color-light: #F4F0FA;
    --title-color: #19181B;
    --text-color: #58555E;
    --text-color-light: #A5A1AA;
    --body-color: #1e1f2c;
    --container-color: #22222b;

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: .938rem;
    --small-font-size: .75rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
    :root {
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== BASE ==========*/
*, ::before, ::after {
    box-sizing: border-box;
}

body {

    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
.radios_btn_div{
    display: inline-block;
    margin-top: 25px;
    text-align: center;
}
.radios_btn1, .radios_btn2{
    display: none;
}
.radios_btn_label1{
    position: relative;
    color: #155724;
    font-family: Cairo, sans-serif;
    font-size: 20px;
    border: 2px solid #155724;
    padding: 5px 50px;
    align-items: center;
    border-radius: 20px;
    margin-left: 10px;
}

.radios_btn1:checked + .radios_btn_label1{
    background-color: #d4edda;
}
.radios_btn_label2{
    position: relative;
    color: #856404;
    font-family: Cairo, sans-serif;
    font-size: 20px;
    border: 2px solid #856404;
    padding: 5px 50px;
    align-items: center;
    border-radius: 20px;
}
.radios_btn2:checked + .radios_btn_label2{
    background-color: #fff3cd;
}